body{
    background-color: #060606;
    padding-bottom: 0px;
   
   
}

.bg{
    background-color: #070707;
}
.color{
    color: white;

}
.colors{
    color: #000000;
}
a{
    text-decoration: none;
}
.pj{
    padding-bottom: 20px;
    padding-top: 15px;
}
.button{
    padding-bottom: 12px;
}
.cnf{
        background-color:#1A1A1A;
        
}
input, select, textarea{
    color:white;
}