body{
    background-color: #060606;
    padding-bottom: 0px;
   
   
}
.mainpage{
    overflow: hidden;
}
.about-new{
   float: right;
   height:100%;
   width:100%;
  
}
@media only screen and (min-width: 1025px) {
    .about-new .bd-placeholder-img{
        float: right;
        top:0;
        margin-top:95px;
        margin-right:5rem;
    }
    .about-new{
        position: fixed;
        top: 0;
        left:0;
        right:0;
        left:0;
    }
    
  }

.bg{
    background-color: #070707;
}
.color{
    color: white;

}
.colors{
    color: #000000;
}
a{
    text-decoration: none;
}
.pj{
    padding-bottom: 20px;
    padding-top: 15px;
}
.button{
    padding-bottom: 12px;
}
.cnf{
        background-color:#1A1A1A;
        
}
input, select, textarea{
    color:white;
}